body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td {
    margin: 0;
    padding: 0;
}
.displayNone{
    display: none;
}
body {
    font: 14px/1.4 \5FAE\8F6F\96C5\9ED1,\5b8b\4f53,Arial,Helvetica,sans-serif;
    -webkit-text-size-adjust: 100%;
}
fieldset,img {
    border: 0;
}
input,img {
    vertical-align: middle;
}
address,cite,code,dfn,em,th,var,optgroup {
    font-style: normal;
    font-weight: normal;
}
h1,h2,h3,h4,h5,h6 {
    font-size: 100%;
    font-weight: normal;
}
input,textarea,select {
    color: #666;
    font-family: Arial,Helvetica,sans-serif;
}
input,button,textarea,select,optgroup,option {
    font-size: 100%;
}
ol,ul {
    list-style: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
sup,sub {
    font-size: 100%;
    vertical-align: baseline;
}
:link,:visited,ins {
    text-decoration: none;
}
a:focus {
    outline: 0;
    -moz-outline-style: 0;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
body {
    background-color: #335498;
}
a{
    color: #666;
}
.left {
    float: left;
}
.right {
    float: right;
}
.bold {
    font-weight: bold;
}
.nowrap {
    white-space: nowrap;
}
.clearfix:after {
    content: "\0020";
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
}
.clearfix {
    zoom:1;
}
.clear {
    clear: both;
    line-height: 0;
    height: 0;
    display: block;
    overflow: hidden;
    width: 0;
    font-size: 0;
}
.v-middle,.v-height {
    display: table-cell;
    *display: inline;
    *zoom:1;vertical-align: middle;
    text-align: center;
    overflow: hidden;
}
.v-height {
    width: 0;
}
.hide {
    display: none;
}
.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.relative {
    position: relative;
}
.absolute {
    position: absolute;
}
.yahei {
    font-family: \5FAE\8F6F\96C5\9ED1;
}
.container{
    background-color: #f1f1f1;
    padding: 20px 0;
}
.wrap{
    width: 1000px;
    margin: 0 auto;
}
.top-bar{
    background-color: #2c4d8f;
    height: 34px;
    text-align: right;
}
.top-bar a{
    font-size: 14px;
}
.top-bar p{
    display: inline-block;
    color: #8faeef;
    line-height: 34px;
}
.top-bar-quit{
    border-left:solid 1px #7b9bdc;
    padding: 0 16px 0 18px;
    margin-left: 10px;
}
.top-bar-member,.top-bar-quit{
    color: #8faeef;
}
.sign-up{
    background-color: #f69005;
    text-align: center;
    width: 72px;
    height: 34px;
    line-height: 34px;
    display:inline-block;
    color: #fff;
    vertical-align: top;
    overflow: hidden;
}
.sign-up:hover{
    text-decoration: none;
    background-color:#ffa000;
}
.sign-in{
    margin:8px 18px;
    display:inline-block;
    color: #8faeef;
}
.deter-fraud{
    color: #8faeef;
    border-left: solid 1px #7b9bdc;
    padding-left:18px;
    margin: 8px 0;
    width: 60px;
    display: inline-block;
}
.header{
    background-color: #335498;
    height: 50px;
    padding-top:16px;
}
.logo-box{
    padding:4px 0 0 6px;
    float: left;
}
.logo{
    background: url(../images/logo.png) no-repeat;
    width: 114px;
    height: 28px;
    text-indent: -9999px;
    display: block;
    overflow: hidden;
}
.header-nav{
    padding-top:8px;
}
.header-nav li{
    padding-left:90px;
    float: left;
}
.header-nav a{
    color: #fff;
    font-size: 18px;
}
.c-nav{
    height: 40px;
    box-shadow: 0 0 3px #999;
    background-color: #fff;
    padding: 10px 0;
    position: relative;
    z-index: 2;
}
.c-nav li{
    margin-right: 40px;
    float: left;
    width: 120px;
    line-height: 40px;
    position: relative;
}
.c-nav a{
    text-align: center;
    display: block;
    color:#666;
    font-size: 13px;
}
.c-nav a:hover,
.c-nav .selected a{
    text-decoration: none;
    background-color: #edefee;
    box-shadow: inset 0 0 3px #999;
}
.nav-hot a{
    padding-left:26px;
    background:url(../images/sprite-icon.png) 26px 8px no-repeat;
}
.drop-menu{
    width: 440px;
    box-shadow: 1px 1px 3px #666;
    border: solid 1px #ccc;
    padding: 20px 20px 20px 0;
    position: absolute;
    left:0;
    top: 40px;
    background-color: #fff;
    display: none;
}
.drop-menu-item{
    float: left;
    padding-left: 60px;
    margin-left: 20px;
    background: url(../images/sprite-icon.png) 0 -100px no-repeat;
    position: relative;
    min-height: 44px;
}
.drop-menu-item a{
    border: dashed 1px #ccc;
    padding:0 20px;
    display: inline-block;
    margin: 0 10px 10px 0;
}
.serial-num{
    width: 44px;
    height: 44px;
    line-height: 44px;
    text-align: center;
    font-size: 24px;
    color: #fff;
    position: absolute;
    left: 0;
    top: 0;
    display: block;
}
.p-list{
    width: 1020px;
    overflow: hidden;
    padding:3px 2px;
}
.p-item{
    width: 238px;
    height: 230px;
    float: left;
    margin-right: 16px;
    margin-bottom:20px;
    background-color: #fff;
    box-shadow: 0 0 2px #999;
    position: relative;
}
.p-pic{
    text-align: center;
    height: 180px;
    overflow: hidden;
}
.p-name{
    height:44px;
    line-height:44px;
    text-align: center;
    border-top:solid 1px #dfdfdf;
    font-size: 14px;
}
.quick-buy{
    background-color: #8faeef;
    width: 218px;
    height: 210px;
    position: absolute;
    right:-2px;
    top:3px;
    padding: 10px;
}
.quick-buy-title{
    color: #335498;
    font-size: 18px;
    font-weight: bold;
}
.quick-kind-btn,
.quick-value-btn{
    padding: 4px 10px;
    width:198px;
    height: 32px;
    line-height: 32px;
    background:#fff url(../images/sprite-icon.png) 196px -782px no-repeat;
    margin-top: 8px;
    cursor: pointer;
    color: #ccc;
    font-size: 14px;
}
.quick-submit{
    background-color: #335498;
    width: 218px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    font-size: 18px;
    margin-top: 24px;
    display: block;
}
.quick-submit:hover{
    text-decoration: none;
    background-color: #143e94;
}
.quick-kind-list,
.quick-value-list{
    position: absolute;
    width: 216px;
    border: solid 1px #eee;
    border-bottom:0;
    display: none;
    box-shadow: 1px 2px 2px #999;
}
.quick-kind-list li,
.quick-value-list li{
    background-color: #fff;
    height:22px;
    line-height:22px;
    font-size: 12px;
    padding:6px 8px;
    border-bottom: solid 1px #eee;
    color: #666;
}
.quick-kind-list li:hover,
.quick-value-list li:hover{
    background-color:#eee;
    cursor: pointer;
}
.quick-buy .selected{
    color: #666;
}
.p-item-hover{
    background: url(../images/p-item-hover.png) no-repeat;
    position: absolute;
    width: 238px;
    height: 132px;
    padding-top: 98px;
    top: 0;
    left: 0;
    cursor: pointer;
    color: #fff;
    font-size: 14px;
    text-align: center;
}
.bottom-banner{
    min-height: 100px;
    padding-top:10px;
}
.footer{
    background-color: #335498;
    margin-top: 50px;
    color: #8faeef;
    font-size: 14px;
    text-align: center;
    padding-bottom:40px;
}
.footer-list{
    padding: 36px 0;
}
.footer-item{
    padding-left:88px;
    height: 60px;
    line-height: 60px;
    color: #fff;
    background: url(../images/sprite-icon.png) no-repeat;
    float: left;
    width:162px;
    text-align: left;
}
.footer-item-1{
    background-position: 20px -300px;
}
.footer-item-2{
    background-position: 25px -400px;
}
.footer-item-3{
    background-position: 25px -500px;
}
.footer-item-4{
    background-position: 25px -600px;
}

/*会员中心*/
.member{
    background-color: #fff;
    border: solid 1px #ccc;
}
.member-nav{
    border-right: solid 1px #ccc;
    width: 247px;
    padding-bottom: 60px;
}
.member-info{
    height: 200px;
    padding:50px 30px 0 30px;
    text-align: center;
}
.member-nav ul{
    border-top: solid 1px #ccc;
}
.member-nav li{
    height: 48px;
    line-height: 48px;
    text-align: center;
    border-bottom: solid 1px #ccc;
}
.member-nav a{
    color: #333;
}
.member-nav a:hover,
.member-nav .selected{
    color: #f69005;
}
.member-id{
    padding: 20px 0 10px 0;
}
.member-balance strong{
    color: #d83224;
    padding: 0 4px 0 2px;
}
.member-nav-recharge{
    padding:16px 60px 0 60px;
}
.member-nav-recharge a{
    background-color: #f69005;
    padding: 6px 10px;
    margin: 0 auto;
    display: block;
    color: #fff;
}
.member-nav-recharge a:hover{
    color: #fff;
    text-decoration: none;
    background-color: #ffa000;
}
.member-container{
    width: 750px;
}
.member-title{
    padding: 20px 0 20px 40px;
    color: #335498;
    font-size: 18px;
    border-bottom: solid 1px #ccc;
}
.select-time{
    padding: 30px 0 30px 40px;
}
.time-form,
.time-to{
    padding:6px 8px;
    border: solid 1px #aaa;
    margin: 0 6px;
}
.search-btn{
    background-color: #f69005;
    color: #fff;
    padding:7px 20px;
}
.search-btn:hover{
    text-decoration: none;
    background-color: #ffa000;
}
.w100{
    width: 100%;
}
.recharge-history th{
    background-color: #ededed;
    height: 40px;
    line-height: 40px;
    padding: 2px 4px 2px 10px;
    text-align: left;
}
.recharge-history td{
    font-size: 12px;
    padding: 10px 4px 10px 10px;
    border-bottom: dashed 1px #ccc;
}
.recharge-history-pay{
    color: #f69005;
}
.recharge-history-wait{
    color: #d83224;
}
.recharge-history-success{
    color: #335498;
}




/*翻页样式*/
.pager-box{
    padding: 20px 10px 0 0;
}
.pagination-list li {
    float: left;
    padding-left: 10px
}

.pagination-list a {
    width: 28px;
    height: 28px;
    line-height: 28px;
    display: block;
    text-align: center;
    border: solid 1px #888;
    color: #888;
    font-size: 14px;
    font-family: arial;
    border-radius: 3px
}

.pagination-list a:hover {
    border-color: #ffa257;
    color: #ff7f19;
    text-decoration: none
}

.pagination-list .selected a {
    border-color: #ffa257;
    color: #fff;
    background-color: #ffa257
}

.pagination-list-prev,.pagination-list-next {
    position: relative
}

.pagination-list-prev span,.pagination-list-next span {
    width: 0;
    height: 0;
    font-size: 0;
    display: block;
    border-top: 5px solid transparent;
    border-right: 8px solid #888;
    border-bottom: 5px solid transparent;
    vertical-align: middle;
    position: absolute;
    left: 21px;
    top: 10px
}

.pagination-list-next span {
    border-left: 8px solid #888;
    border-right: 0
}

.pagination-list-prev a:hover span {
    border-right-color: #ffa257
}

.pagination-list-next a:hover span {
    border-left-color: #ffa257
}.pagination-jump {
     border: solid 1px #ffa257;
     border-radius: 3px;
     margin-left: 20px
 }

.pagination-jump input {
    width: 40px;
    height: 20px;
    line-height: 20px;
    padding: 4px 8px;
    border: 0;
    float: left;
    font-size: 14px
}

.pagination-jump a {
    font-size: 14px;
    height: 28px;
    line-height: 28px;
    width: 50px;
    text-align: center;
    display: block;
    float: left;
    color: #fff;
    background-color: #ffa257
}

.pagination-jump a:hover {
    text-decoration: none
}

.pagination-disabled a,.pagination-disabled a:hover {
    color: #cbcbcb;
    border-color: #cbcbcb
}

.pagination-disabled a:hover,.pagination-disabled a:hover span {
    cursor: default
}
/*日期控件样式*/
.ui-datepicker {
    width: 246px;
    height: 250px;
    background-color: #3b3b3b;
    color: #fff;
    border-radius: 5px;
    display: none
}

.ui-datepicker-header {
    height: 30px;
    position: relative
}

.ui-datepicker-prev,.ui-datepicker-next {
    display: block;
    cursor: pointer;
    position: absolute;
    left: 70px;
    top: 6px;
    color: #fff;
}

.ui-datepicker-next {
    left: auto;
    right: 6px;
}

.ui-datepicker-header .ui-state-disabled {
    display: none
}

.ui-datepicker-year {
    position: absolute;
    width: 60px;
    height: 30px;
    left: 12px;
    top: 2px;
    font-family: arial;
    font-size: 18px
}

.ui-datepicker-month {
    border: 0;
    font-size: 14px;
    color: #333;
    background-color: #fff;
    position: absolute;
    left: 120px;
    top: 6px;
    font-family: \5FAE\8F6F\96C5\9ED1
}
.ui-datepicker-month option{
    color: #333;
}
.ui-datepicker-calendar {
    width: 100%
}

.ui-datepicker-calendar th {
    color: #ff9669;
    height: 26px;
    line-height: 26px;
    background-color: #606060
}

.ui-datepicker-calendar td {
    padding: 2px 3px
}

.ui-datepicker-calendar a,.ui-datepicker-calendar tbody span {
    width: 24px;
    height: 24px;
    margin: 0 2px;
    line-height: 24px;
    color: #fff;
    font-family: arial;
    display: block;
    text-align: center
}

.ui-datepicker-calendar a:hover,.ui-state-active {
    text-decoration: none;
    background-color: #f69005;
    color: #fff;
}

.ui-state-active {
    background-color: #ffa000;
}

.ui-datepicker-calendar span.ui-state-default {
    color: #666;
    cursor: default
}

/*个人资料修改*/
.member-change{
    padding-top: 40px;
}
.member-change table{
    width: 100%;
}
.member-change-label{
    text-align: right;
    width:30%
}
.member-change td{
    padding: 10px 6px;
}
.member-change input{
    padding: 4px 6px;
    height: 22px;
    line-height: 22px;
    width: 200px;
}
.member-change label input{
    padding: 0;
    width: 20px;
}
.member-change .member-change-save{
    width:100px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    background-color: #f69005;
    cursor: pointer;
    border: 0;
    padding: 0;
    display: block;
}
.member-change .member-change-save:hover{
    color: #fff;
    text-decoration: none;
    background-color: #ffa000;
}
/*登录，注册*/
.login-box,
.register-box{
    padding:40px;
    border: solid 1px #ccc;
    background-color: #fff;
}
.login-reg{
    padding: 0 40px;
}
.login-reg a{
    color: #f69005;
}
.login-form,
.register-form{
    border-right: solid 1px #ccc;
    width: 500px;
}
.login-title,
.reg-title{
    font-size: 16px;
    padding:6px 0 2px 0;
}
.long-text-input{
    padding: 4px 6px;
    height: 22px;
    line-height: 22px;
    width: 200px;
    border:solid 1px #cfcfcf;
}
.login-submit,
.register-btn{
    padding:12px 0 6px 0;
}
.login-submit a,
.register-btn a{
    background-color: #f69005;
    text-align: center;
    width:100px;
    height:40px;
    line-height:40px;
    display:inline-block;
    color: #fff;
    vertical-align: top;
    overflow: hidden;
}
.login-submit a:hover,
.register-btn a:hover{
    text-decoration: none;
    background-color: #ffa000;
}
.prompt-msg{
    line-height: 0;
    font-size: 0;
}
.prompt-msg p{
    color: #d83224;
    padding: 2px 0;
    font-size: 12px;
    line-height: 20px;
}
.login-forget{
    margin: 24px 0 0 20px;
}

/*产品详情*/
.p-detail{
    padding: 14px;
    background-color: #fff;
    border: solid 1px #ccc;
}
.buy-step-box{
    border-bottom: dashed 1px #666;
    height: 110px;
    padding-top: 40px;
}
.buy-step-box ul{
    width:550px;
    margin:0 auto;
}
.buy-step{
    background: url(../images/step.png) no-repeat;
    float: left;
    overflow: hidden;
    padding-top:55px;
    color: #999;
}
.buy-step-1{
    width: 156px;
    background-position: 18px 0;
}
.buy-step-2{
    width: 194px;
    background-position: -4px -100px;
    text-align: center;
}
.buy-step-2.current{
    background-position: -4px -300px;
}
.buy-step-3{
    width: 140px;
    background-position:-20px -200px;
    padding-left: 40px;
}
.p-detail-box{
    padding: 50px 30px 80px 30px;
}
.p-detail-img{
    width: 240px;
    overflow: hidden;
}
.p-detail-img img{
    max-width: 240px;
}
.p-detail-content{
    padding-left: 30px;
    width: 600px;
    color: #666;
}
.p-detail-title{
    color: #335498;
    font-size: 18px;
    font-weight: bold;
}
.p-detail-describe{
    font-size: 12px;
    padding-top:10px;
}
.p-detail-price{
    font-size: 30px;
    color: #f69006;
    padding:10px 0;
    font-weight: bold;
}
.p-options li{
    padding: 10px 0;
    line-height: 32px;
}
.p-detail-num span,
.p-detail-value span{
    display: block;
    height: 32px;
    line-height: 32px;
}
.p-detail-num a{
    float: left;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    border: solid 1px #ccc;
}
.p-detail-num a:hover{
    text-decoration: none;
}
.p-detail-num input{
    border-style: solid;
    border-color: #ccc;
    border-width: 1px 0 1px 0;
    width: 50px;
    height: 24px;
    line-height: 24px;
    padding: 4px;
    float: left;
    text-align: center;
}
.p-detail-value a{
    margin-right: 12px;
    border: solid 1px #ccc;
    padding:1px 2px;
    text-align: center;
    height: 32px;
    line-height: 32px;
    float: left;
    width: 60px;
    cursor: pointer;
}
.p-detail-value a:hover{
    text-decoration: none;
}
.p-detail-value .selected{
    border:solid 2px #f69006;
    padding: 0 1px;
    color: #f69006;
}
.buy-btn-box{
    padding: 10px 0;
}
.buy-btn{
    width: 140px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-size: 18px;
    background-color: #ffa257;
    display: block;
    float: left;
}
.buy-btn:hover{
    text-decoration: none;
    background-color:#ffa000;
}
.p-total{
    float: left;
    color: #d83224;
    line-height: 40px;
    padding-left: 40px;
}
.buy-affirm-info li{
    padding: 6px 0;
    line-height: 22px;
    color: #666;
}
.buy-affirm-info .balance-error{
    background-color: #ffd3d3;
    border: solid 1px #ee9999;
    padding: 6px 4px;
    color: #333;
}
.buy-affirm-info .balance-error a{
    color: #d83224;
}
.buy-affirm{
    padding-left: 30px;
}
.buy-affirm-title{
    color: #f69006;
    font-size: 20px;
    padding-bottom: 10px;
}
.buy-affirm-price span,
.buy-affirm-info .buy-affirm-tips{
    font-size: 16px;
    color: #d83224;
}
.buy-affirm-info .buy-affirm-balance{
    color: #d83224;
}
.pw-forgot{
    padding: 40px 20px;
}
.pw-forgot-title{
    color: #f69006;
    font-size: 20px;
    padding-bottom: 10px;
}
.pw-forgot-btn{
    margin-top: 14px;
    width: 140px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-size: 18px;
    background-color: #ffa257;
    display: block;
}
.pw-forgot-btn:hover{
    text-decoration: none;
    background-color:#ffa000;
}
.input-captcha{
    padding: 4px 6px;
    height: 22px;
    line-height: 22px;
    width: 100px;
    border:solid 1px #cfcfcf;
    margin-right: 6px;
}
.register-captcha a{
    color: #f69005;
}
.sr-only{
    overflow: hidden;
    text-indent: -9999px;
    width: 0;
    height: 0;
    font-size: 0;
}
.reputation,
.q-and-a,
.prevent-fooled,
.contact-us{
    padding: 30px 40px 80px 40px;
    background-color: #fff;
    border: solid 1px #ccc;
}
.reputation h1,
.q-and-a h1,
.prevent-fooled h1,
.contact-us h1{
    color: #335498;
    font-size: 18px;
    font-weight: bold;
}
.reputation h1 span,
.q-and-a h1 span,
.prevent-fooled h1 span,
.contact-us h1 span{
    font-size: 12px;
    display: block;
    font-weight: normal;
}
.reputation p{
    padding-top:40px;
    text-indent: 28px;
    color: #333;
    line-height: 24px;
}
.qa-list dt{
    background: url(../images/q-icon.png) no-repeat;
    padding-left: 28px;
    min-height: 22px;
    line-height: 22px;
    margin-top: 40px;
    cursor:pointer;
}
.qa-list dd{
    background: url(../images/a-icon.png) no-repeat;
    padding-left: 28px;
    margin-top:14px;
    min-height: 22px;
    line-height: 22px;
    color: #999;
    display: none;
}
.prevent-fooled{
    color: #333;
    line-height: 24px;
}
.paragraph{
    text-indent: 28px;
    padding-top:6px;
}
.section{
    padding-top: 30px;
}
.no-result{
    color:#d83224;
    padding-left: 40px;
}
.contact-us p{
    padding-top: 20px;
}
.pay-type p{
    padding-bottom: 6px;
    padding-right: 8px;
    font-size: 12px;
    float: left;
}
.pay-type a{
    padding: 4px 6px;
    border: solid 1px #ccc;
    display: inline-block;
    font-size: 14px;
}
.pay-type .selected a{
   border-color: #ffa257;
 }
