body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td {
    margin: 0;
    padding: 0;
}
body {
    font: 12px/1.4 \5FAE\8F6F\96C5\9ED1,\5b8b\4f53,Arial,Helvetica,sans-serif;
    -webkit-text-size-adjust: 100%;
}
fieldset,img {
    border: 0;
}
input,img {
    vertical-align: middle;
}
address,cite,code,dfn,em,th,var,optgroup {
    font-style: normal;
    font-weight: normal;
}
h1,h2,h3,h4,h5,h6 {
    font-size: 100%;
    font-weight: normal;
}
input,textarea,select {
    color: #666;
    font-family: Arial,Helvetica,sans-serif;
}
input,button,textarea,select,optgroup,option {
    font-size: 100%;
}
ol,ul {
    list-style: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
sup,sub {
    font-size: 100%;
    vertical-align: baseline;
}
:link,:visited,ins {
    text-decoration: none;
}
a:focus {
    outline: 0;
    -moz-outline-style: 0;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
body {
    background-color: #f1f1f1;
}
a{
    color: #666;
}
.left {
    float: left;
}
.right {
    float: right;
}
.bold {
    font-weight: bold;
}
.nowrap {
    white-space: nowrap;
}
.clearfix:after {
    content: "\0020";
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
}
.clearfix {
    zoom:1;
}
.clear {
    clear: both;
    line-height: 0;
    height: 0;
    display: block;
    overflow: hidden;
    width: 0;
    font-size: 0;
}
.v-middle,.v-height {
    display: table-cell;
    *display: inline;
    *zoom:1;vertical-align: middle;
    text-align: center;
    overflow: hidden;
}
.v-height {
    width: 0;
}
.hide {
    display: none;
}
.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.relative {
    position: relative;
}
.absolute {
    position: absolute;
}
.yahei {
    font-family: \5FAE\8F6F\96C5\9ED1;
}
.wrap{
    width: 1000px;
    margin: 0 auto;
}
.top-bar{
    background-color: #2c4d8f;
    height: 34px;
    text-align: right;
}
.top-bar a{
    font-size: 14px;
}
.sign-up{
    background-color: #f69005;
    text-align: center;
    width: 72px;
    height: 34px;
    line-height: 34px;
    display:inline-block;
    color: #fff;
}
.sign-up:hover{
    text-decoration: none;
    background-color:#ff9d18;
}
.sign-in{
    margin:8px 18px;
    display:inline-block;
    color: #8faeef;
}
.deter-fraud{
    color: #8faeef;
    border-left: solid 1px #fff;
    padding-left:18px;
    margin: 8px 0;
    width: 60px;
}
.header{
    background-color: #335498;
    height: 50px;
    padding-top:16px;
}
.logo-box{
    padding:4px 0 0 6px;
    float: left;
}
.logo{
    background: url(../images/logo.png) no-repeat;
    width: 114px;
    height: 28px;
    text-indent: -9999px;
    display: block;
    overflow: hidden;
}
.header-nav{
    padding-top:8px;
}
.header-nav li{
    padding-left:90px;
    float: left;
}
.header-nav a{
    color: #fff;
    font-size: 18px;
}
.c-nav{
    height: 40px;
    box-shadow: 0 0 3px #999;
    background-color: #fff;
    padding: 10px 0;
}
.c-nav li{
    padding-right: 40px;
    float: left;
    width: 120px;
    line-height: 40px;
    position: relative;
}
.c-nav a{
    text-align: center;
    display: block;
    color:#666;
    font-size: 13px;
}
.c-nav a:hover,
.c-nav .selected a{
    text-decoration: none;
    background-color: #edefee;
    box-shadow: inset 0 0 3px #999;
}
.nav-hot a{
    padding-left:26px;
    background:url(../images/sprite-icon.png) 26px 8px no-repeat;
}
.drop-menu{
    width: 440px;
    box-shadow: 1px 1px 3px #666;
    border: solid 1px #ccc;
    padding: 20px 20px 20px 0;
    position: absolute;
    left:0;
    top: 40px;
    background-color: #fff;
    display: none;
}
.drop-menu-item{
    float: left;
    padding-left: 60px;
    margin-left: 20px;
    background: url(../images/sprite-icon.png) 0 -100px no-repeat;
    position: relative;
    min-height: 44px;
}
.drop-menu-item a{
    border: dashed 1px #ccc;
    padding:0 20px;
    display: inline-block;
    margin: 0 10px 10px 0;
}
.serial-num{
    width: 44px;
    height: 44px;
    line-height: 44px;
    text-align: center;
    font-size: 24px;
    color: #fff;
    position: absolute;
    left: 0;
    top: 0;
    display: block;
}
.p-list{
    width: 1020px;
    overflow: hidden;
    padding:3px 2px;
}
.p-item{
    width: 238px;
    height: 230px;
    float: left;
    margin-right: 16px;
    margin-top:20px;
    background-color: #fff;
    box-shadow: 0 0 2px #999;
}
.p-pic{
    text-align: center;
    height: 180px;
    overflow: hidden;
}
.p-name{
    height:44px;
    line-height:44px;
    text-align: center;
    border-top:solid 1px #dfdfdf;
    font-size: 14px;
}
.quick-pay{
    background-color: #8faeef;
}