<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="chainDefinitionSectionMetaSource" class="com.card.seller.backoffice.security.ChainDefinitionSectionMetaSource">
        <property name="filterChainDefinitions">
            <value>
                /js/** = anon
                /img/** = anon
                /css/** = anon
                /fonts/** = anon
                /swf/** = anon
                /*.ico = anon
                /unauthorized = authc
                /home = perms[security:index]
                / = perms[security:index]
                /logout = logout
                /login = authc
                /** = authc
            </value>
        </property>
    </bean>

    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <property name="securityManager" ref="securityManager"/>
        <property name="loginUrl" value="/login"/>
        <property name="successUrl" value="/home"/>
        <property name="unauthorizedUrl" value="/unauthorized"/>
        <property name="filterChainDefinitionMap" ref="chainDefinitionSectionMetaSource" />
    </bean>

    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <property name="realm" ref="shiroDbRealm"/>
    </bean>
    <bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>

    <bean id="shiroDbRealm" class="com.card.seller.backoffice.security.ShiroDbRealm" init-method="initCredentialsMatcher">
        <property name="defaultPermissionString" value="security:change-password,security:index" />
    </bean>
</beans>